# Required
DATABASE_URL=postgres://ddrive:ddrive@127.0.0.1:5429/ddrive
WEBHOOKS= # comma-separated webhook URLs

# Optional
PORT=3000
REQUEST_TIMEOUT=60000 # increase if you have a slow connection
CHUNK_SIZE=10165824 # ~10MB max (Discord webhook limit)
SECRET= # set to enable AES-256 encryption (high CPU usage)
PUBLIC_ACCESS= # READ_ONLY_FILE or READ_ONLY_PANEL
AUTH=admin:admin
UPLOAD_CONCURRENCY=
